a{text-decoration:none;color: #555}
ul li{list-style-type:none;}
.top{background-color:#000000; display:table; width:1351px;height:10%;margin-top: -10PX;margin-left: -10px;margin-right: -30px;}
.top ul{float:right;margin-right:5px;}
.top ul li{float:left;margin:0px 10px;}
.top ul li a{display:block; color:white;line-height:20px; font-size:18px; font-weight:bold; margin:8px 0px; width:90px; text-align:center;}
.top ul li a:hover{background-color:#4DB3B3;}
