<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>图像化管理</title> 
</head>
<body>
	<script type="text/javascript" src="/myblog/static/js/jquery.js" ></script>
	<script src="/myblog/static/js/charts.js"></script>
	<script src="/myblog/static/js/echarts.js"></script>
	
	
	<input type="hidden" value="${rc.contextPath}"  id="basePath"/>
	<div id="chartmain" style="width:800px; height: 400px;"></div>
	<div id="line" style="width:800px; height: 20px;"></div>
	<div id="chartmain2" style="width:800px; height: 400px;"></div>
</body>
</html>